<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/Layout/_mainLayout">

      <head>
        <title>Editar</title>
    </head>
    
    <body>
        <div layout:fragment="content">
            <!-- Mostrar mensaje de confirmación en caso de éxito -->
            <div th:if="${msg != null}">
                <script>
                    Swal.fire({
                        title: "Confirmación",
                        text: '[[${msg}]]',
                        icon: "success"
                    });
                </script>
            </div>
    
            <!-- Mostrar mensaje de error en caso de error -->
            <div th:if="${error != null}">
                <script>
                    Swal.fire({
                        title: "Error",
                        text: '[[${error}]]',
                        icon: "error"
                    });
                </script>
            </div>

                <div class="card-body">
                    <form th:action="@{/activos/save}" th:object="${activo}" method="post">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" th:field="*{nombre}" id="nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <textarea class="form-control" th:field="*{descripcion}" id="descripcion" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="codigo" class="form-label">Código</label>
                            <input type="text" class="form-control" th:field="*{codigo}" id="codigo" required>
                        </div>
                        <div class="mb-3">
                            <label for="codigoDeBarra" class="form-label">Código de Barra</label>
                            <input type="text" class="form-control" th:field="*{codigoDeBarra}" id="codigoDeBarra" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                        <a th:href="@{/activos/index}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>