<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/_mainLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de roles</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- Mostrar mensaje de confirmación en caso de éxito -->
        <div th:if="${msg != null}">
            <script>
                Swal.fire({
                    title: "Confirmación",
                    text: '[[${msg}]]',
                    icon: "success"
                });
            </script>
        </div>

        <!-- Mostrar mensaje de error en caso de error -->
        <div th:if="${error != null}">
            <script>
                Swal.fire({
                    title: "Error",
                    text: '[[${error}]]',
                    icon: "error"
                });
            </script>
        </div>

        <div class="row" style="margin-top: 10px; margin-left: 40px; margin-right: 40px;">
            <div class="card">
                <div class="card-header row">
                    <h1 class="card-text col-md-12" style="text-align: center;">Lista de roles</h1>
                    <a th:href="@{/roles/create}" class="btn btn-success col-md-12">Nuevo rol</a>
                </div>

                <div class="card-body">
                    <div class="overflow-auto">
                        <table class="table table-striped col-md-12 ">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item : ${roles}">
                                    <td th:text="${item.nombre}"></td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th>
                                                    <a th:href="@{/roles/details/{id}(id=${item.id})}" class="btn btn-secondary">Detalles</a>
                                                </th>
                                                <th>
                                                    <a th:href="@{/roles/remove/{id}(id=${item.id})}" class="btn btn-danger">Eliminar</a>
                                                </th>
                                                <th>
                                                    <a th:href="@{/roles/edit/{id} (id = ${item.id}) }"
                                                       class="btn btn-info">Editar</a>
                                                </th>
                                            <tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <nav aria-label="Page navigation" class="col-md-12">
                        <ul class="pagination">
                            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                                <a class="page-link" th:href="@{/roles/index(page=${pageNumber},size=${roles.size})}"
                                   th:text="${pageNumber}"></a>
                            </li>
                        </ul>
                    </nav>                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>