<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/Layout/_mainLayout">

<head>
    <title>Crear</title>
</head>

<body>
<div layout:fragment="content">
    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
                title: "Confirmación",
                text: '[[${msg}]]',
                icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            });
        </script>
    </div>

    <div class="row" style="margin: 100px;">
        <div class="card">
            <div class="card-header row">
                <h1 class="card-text col-md-12" style="text-align: center;">Crear Bodega</h1>
            </div>

            <div class="card-body">
                <form th:action="@{/bodega/save}" th:object="${bodega}" class="row" method="post">
                    <div class="col-md-12">
                        <label class="form-label" for="nombre">Nombre<span style="color: red;">*</span></label>
                        <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Nombre de la bodega" required>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label" for="descripcion">Descripción</label>
                        <input type="text" class="form-control" th:field="*{descripcion}" id="descripcion" placeholder="Descripción de la bodega">
                    </div>
                    <!-- Fin de campos adicionales -->
                    <div class="row" style="display: flex; flex-wrap: wrap;">
                        <div class="col-md-6" style="padding-top: 10px;">
                            <button style="width: 100%;" type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        <div class="col-md-6" style="padding-top: 10px;">
                            <a style="width: 100%;" class="btn btn-secondary" th:href="@{/bodega/index}">Regresar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>